.container{
    width: 300px;
    height: 200px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    padding-top: 70px;
    font-size: 20px;
}
.container>button{
    background-color: rgb(173, 194, 235);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: hotpink;
    font-size: 20px;
}
